In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import yfinance as yf
yf.pdr_override()

In [28]:
stock = 'TSLA'
start = '2016-01-01' 
end = '2024-01-01'
data = yf.download(stock, start, end)
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04,15.381333,15.425333,14.600000,14.894000,14.894000,102406500
2016-01-05,15.090667,15.126000,14.666667,14.895333,14.895333,47802000
2016-01-06,14.666667,14.670000,14.398667,14.602667,14.602667,56686500
2016-01-07,14.279333,14.562667,14.244667,14.376667,14.376667,53314500
2016-01-08,14.524000,14.696000,14.051333,14.066667,14.066667,54421500
...,...,...,...,...,...,...
2023-12-22,256.760010,258.220001,251.369995,252.539993,252.539993,93249800
2023-12-26,254.490005,257.970001,252.910004,256.609985,256.609985,86892400
2023-12-27,258.350006,263.339996,257.519989,261.440002,261.440002,106494400
2023-12-28,263.660004,265.130005,252.710007,253.179993,253.179993,113619900
2023-12-29,255.100006,255.190002,247.429993,248.479996,248.479996,100615300

In [37]:
df = data.reset_index()
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-01-04,15.381333,15.425333,14.600000,14.894000,14.894000,102406500
1,2016-01-05,15.090667,15.126000,14.666667,14.895333,14.895333,47802000
2,2016-01-06,14.666667,14.670000,14.398667,14.602667,14.602667,56686500
3,2016-01-07,14.279333,14.562667,14.244667,14.376667,14.376667,53314500
4,2016-01-08,14.524000,14.696000,14.051333,14.066667,14.066667,54421500
...,...,...,...,...,...,...,...
2007,2023-12-22,256.760010,258.220001,251.369995,252.539993,252.539993,93249800
2008,2023-12-26,254.490005,257.970001,252.910004,256.609985,256.609985,86892400
2009,2023-12-27,258.350006,263.339996,257.519989,261.440002,261.440002,106494400
2010,2023-12-28,263.660004,265.130005,252.710007,253.179993,253.179993,113619900
2011,2023-12-29,255.100006,255.190002,247.429993,248.479996,248.479996,100615300

In [38]:
X = df.drop(['Date','Close'], axis=1)
y = df[['Close']]

In [39]:
df = df.to_numpy()

In [40]:
from sklearn.model_selection import train_test_split

# Split X and y into X_
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,  random_state=10)

#X_train, X_test, y_train, y_test = train_test_split(X, y, none, none, random_state=78)

In [41]:
from sklearn.linear_model import LinearRegression

regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

LinearRegression()

In [42]:
intercept = regression_model.intercept_[0]

print("The intercept for our model is {}".format(intercept))

The intercept for our model is -1.0145555506824167e-08

In [43]:
regression_model.score(X_test, y_test)

1.0

In [44]:
from sklearn.metrics import mean_squared_error

y_predict = regression_model.predict(X_test)

regression_model_mse = mean_squared_error(y_predict, y_test)

regression_model_mse

4.034660185571048e-17

In [45]:
math.sqrt(regression_model_mse)

6.3518975004096595e-09

In [48]:
# input the latest Open, High, Low, Close, Volume
# predicts the next day price
regression_model.predict([[255.100006, 255.190002, 247.429993, 248.479996, 100615300]])

array([[248.479996]])